<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DropClassServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.project2.DropClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingPageServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.project2.LandingPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPageServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.project2.SearchPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResultsPageServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.project2.SearchResultsPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.project2.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropClassServlet</servlet-name>
        <url-pattern>/DropClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingPageServlet</servlet-name>
        <url-pattern>/LandingPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPageServlet</servlet-name>
        <url-pattern>/SearchPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResultsPageServlet</servlet-name>
        <url-pattern>/SearchResultsPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Main/index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Main</display-name>
        <web-resource-collection>
            <web-resource-name>Main</web-resource-name>
            <description/>
            <url-pattern>/Main/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Default Constraint</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?result=false</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>user</role-name>
    </security-role>
</web-app>
